<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regis Pengelola</title>
  </head>
  <body>
    <form action="/pengelola/regis" method="POST">
      <input type="text" placeholder="nama" name="name" />
      <input type="text" placeholder="email" name="email" />
      <input type="password" placeholder="password" name="password" />
      <input type="hidden" placeholder="role" name="roles[]" value="pengelola"/> 
      <input type="text" placeholder="admin di mana? CASESENSITIF YA!" name="adminOn" /> 
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
